* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $bgLight;
  font-size: $fontSize;
  color: $textDark;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: $pageWidth;
}

main {
  width: 100%;
  padding-top: $navHeight;

  header,
  section {
    width: 100%;
    padding: $pagePadding;

    .container {
      padding: $containerPadding;
    }
  }

  div.history-previous-page {
    padding: $pagePadding;
    background-color: $bgGrey;
  }

  div.search-options-bar {
    padding: $pagePadding;
    background-color: $bgGrey;

    .container {
      display: flex;
      align-items: center;
      ul {
        margin-left: 2rem;
        display: flex;
        li:not(:last-child) {
          margin-right: 2rem;
        }
        li {
          padding: 1rem 0;
          cursor: pointer;
        }
      }
    }
  }

  span,
  span.group {
    font-size: 1.4rem;
    span + span::before {
      content: ",";
      display: inline-block;
      padding-right: 8px;
    }
  }
  span.group + span.group::before {
    content: "|";
    display: inline-block;
    font-size: 1.8rem;
    padding: 0 8px;
  }
}
