// Font: Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.618;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
}

p {
  width: 100%;
  max-width: 75ch;
}

h2 + p,
p + p {
  margin-top: 1rem;
}

a {
  display: inline-block;
}
