// -- COLOURS --
// text
$textLight: #ccc;
$textDark: #333;

// backgrounds
$bgLight: rgb(245, 245, 245);
$bgGrey: rgb(222, 222, 222);
$bgDark: #000;

$boxShadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);

// -- SIZES --
// elements
$navHeight: 56px;
$pageWidth: 1024px;
$footerHeight: 56px;
$sectionMinHeight: calc(100vh - (56px + 56px));

// text
$fontSize: 1.6rem;

// -- PADDING --
$pagePadding: 0 clamp(1.6rem, 2.5vw, 4rem);
$containerPadding: clamp(2rem, 2.5vw, 4rem) 0;
