.desktop-categories {
  width: 100%;
  padding: 1rem 1.6rem;
  background-color: $bgGrey;

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: $pageWidth;
    display: flex;

    .search {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: left;
      width: 24px;
      cursor: pointer;
    }

    ul {
      display: flex;
      align-items: center;

      > li:not(:last-child) {
        margin-right: 2rem;
      }

      li {
        a {
          color: $textDark;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}
