#footer {
  width: 100%;
  min-height: $footerHeight;
  padding: $pagePadding;
  color: $textLight;
  background-color: $bgDark;

  display: flex;
  align-items: center;

  .copyright {
    font-size: 1.4rem;
  }
}
