.grid-item {
  img {
    min-width: 155px;
    width: 100%;
    max-width: 38rem;
    min-height: 232px;
    height: auto;
    box-shadow: $boxShadow;
    border-radius: 10px;
  }
  .content {
    padding: 0 1.6rem;

    .item-title {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .number-of-episodes {
      font-size: 1.4rem;
      color: lighten($textDark, 25%);
    }
    .item-date {
      font-size: 1.6rem;
    }
  }
}
