#mobile-menu {
  width: 100%;
  height: 100%;
  padding: $pagePadding;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: rgba($bgDark, 0.9);
  color: $textLight;
  transform: translateY(-100%);
  transition: 0.4s;
  z-index: 998;

  .container {
    width: 100%;
    max-width: $pageWidth;
    padding: $containerPadding;

    .mobile-menu {
      > li:not(:last-child) {
        margin-bottom: 2rem;
      }
      .link-item {
        a {
          margin-bottom: 1rem;
          color: #fff;
        }
        .mobile-categories {
          ul {
            > li:not(:last-child) {
              margin-bottom: 0.5rem;
            }
            margin-left: 0.5rem;
            li {
              color: $textLight;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &.open {
    transform: translateY(0);
  }

  @media (min-width: 500px) {
    display: none;
  }
}
