#navbar {
  width: 100%;
  min-height: $navHeight;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: $textLight;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  background-color: $bgDark;
  z-index: 999;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      color: $textLight;
    }

    .desktop-menu {
      display: flex;
      align-items: center;

      > .link-item:not(:last-child) {
        margin-right: 2rem;
      }
      .link-item {
        .link {
          color: $textLight;
        }
      }
    }

    .mobile-menu {
      display: none;
      overflow: hidden;
      > div:not(:last-child) {
        margin-bottom: 9px;
      }

      div {
        width: 24px;
        height: 2px;
        background-color: #fff;
        transition: 0.4s;
      }

      &.open {
        div:nth-of-type(1) {
          transform: translateY(11px) rotate(45deg);
        }
        div:nth-of-type(2) {
          transform: translateX(-5rem);
        }
        div:nth-of-type(3) {
          transform: translateY(-11px) rotate(-45deg);
        }
      }
    }

    @media (max-width: 500px) {
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: block;
      }
    }
  }
}
