.providers {
  color: #fff;
  background-color: $secondaryColor;
  .providers-options {
    display: flex;
    flex-wrap: wrap;

    .option {
      flex: 1 1 25rem;
      padding: 2rem 0;
      h3 {
        margin: 0;
        font-size: 2rem;
      }
      ul {
        padding: 2rem 0;
        li {
          display: flex;
          align-items: center;
          padding: 1rem 0;
          img {
            margin-right: 1rem;
            width: 5rem;
            box-shadow: $boxShadow;
          }
        }
      }
    }
  }
}
