@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.618;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
}

p {
  width: 100%;
  max-width: 75ch;
}

button,
.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button.pagination,
.btn.pagination {
  width: 10.3rem;
  color: #fff;
  background-color: #000;
}

button.homepage,
.btn.homepage {
  margin-top: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 2.5rem;
}

button.homepage span,
.btn.homepage span {
  margin-right: 0.5rem;
}

button:focus,
.btn:focus {
  outline: none;
}

button:hover,
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

button + button,
button + .btn,
.btn + button,
.btn + .btn {
  margin-left: 2rem;
}

p + button,
p + .btn {
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  font-size: 1.6rem;
  color: #333;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

main {
  width: 100%;
  padding-top: 56px;
}

main header,
main section {
  width: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
}

main header .container,
main section .container {
  margin: 0 auto;
  padding: clamp(2rem, 2.5vw, 4rem) 0;
  width: 100%;
  max-width: 1024px;
}

main .status,
main .status-date,
main .genres,
main .runtime {
  padding: 1rem 0;
}

#navbar {
  width: 100%;
  min-height: 56px;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  z-index: 999;
}

#navbar .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
}

#navbar .container .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .desktop-menu > .link-item:not(:last-child) {
  margin-right: 2rem;
}

#navbar .container .desktop-menu .link-item .link {
  color: #ccc;
}

#navbar .container .mobile-menu {
  display: none;
  overflow: hidden;
}

#navbar .container .mobile-menu > div:not(:last-child) {
  margin-bottom: 9px;
}

#navbar .container .mobile-menu div {
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#navbar .container .mobile-menu.open div:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

#navbar .container .mobile-menu.open div:nth-of-type(2) {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

#navbar .container .mobile-menu.open div:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 500px) {
  #navbar .container .desktop-menu {
    display: none;
  }
  #navbar .container .mobile-menu {
    display: block;
  }
}

#mobile-menu {
  width: 100%;
  height: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  position: fixed;
  top: 56px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ccc;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 998;
}

#mobile-menu .container {
  width: 100%;
  max-width: 1024px;
  padding: clamp(2rem, 2.5vw, 4rem) 0;
}

#mobile-menu .container .mobile-menu > li:not(:last-child) {
  margin-bottom: 1rem;
}

#mobile-menu .container .mobile-menu .link-item a {
  color: #fff;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul {
  margin-left: 0.5rem;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul li {
  cursor: pointer;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul li a {
  color: #ccc;
}

#mobile-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 500px) {
  #mobile-menu {
    display: none;
  }
}

.desktop-categories {
  width: 100%;
  padding: 1rem 1.6rem;
  background-color: #dedede;
}

.desktop-categories .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.desktop-categories .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-categories .container ul > li:not(:last-child) {
  margin-right: 2rem;
}

.desktop-categories .container ul li a {
  color: #333;
}

@media (max-width: 500px) {
  .desktop-categories {
    display: none;
  }
}

.items-list {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15.5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  gap: 2rem;
}

.list-item img {
  width: 100%;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.list-item .content {
  padding: 0 1.6rem;
}

.list-item .content .item-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-item .content .item-date {
  font-size: 1.6rem;
}

#pagination {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pagination .buttons {
  padding-top: 2rem;
}

#movie-header {
  position: relative;
  background-size: cover;
  background-position: center;
}

#movie-header .container .content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: clamp(2rem, 3vw, 4rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#movie-header .container .content .image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
}

#movie-header .container .content .image img {
  width: 100%;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#movie-header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8);
}

#person-header .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: clamp(2rem, 3vw, 4rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#person-header .container .content .image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#person-header .container .content .image img {
  width: 100%;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#person-header .container .content .details > *:not(:last-child) {
  margin-bottom: 1rem;
}

#person-header .container .content .details h2 {
  font-size: clamp(2.4rem, 5vw, 6rem);
  line-height: 1;
}

#person-header .container .content .details p.known-for {
  font-size: clamp(2rem, 5vw, 4.8rem);
  font-weight: 300;
}

#person-header .container .content .details .born,
#person-header .container .content .details .death {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-weight: 500;
}

#person-header .container .content .details .born > span:not(:last-child),
#person-header .container .content .details .death > span:not(:last-child) {
  margin-right: 0.8rem;
}

#career-stats {
  background-color: #dedede;
}

#career-stats .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#career-stats .container .content .stat-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#career-stats .container .content .stat-card h2 {
  margin: 0;
  font-size: clamp(2.4rem, 6vw, 4rem);
}

#career-stats .container .content .stat-card p {
  text-align: center;
}

#footer {
  width: 100%;
  min-height: 56px;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: #ccc;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .copyright {
  font-size: 1.4rem;
}
