@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.618;
}

button,
.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
}

p {
  width: 100%;
  max-width: 75ch;
}

h2 + p,
p + p {
  margin-top: 1rem;
}

a {
  display: inline-block;
}

.py1 {
  padding: 1rem 0;
}

button,
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button.pagination,
.btn.pagination {
  width: 10.3rem;
  color: #fff;
  background-color: #000;
}

button.homepage,
.btn.homepage {
  color: #fff;
  background-color: #e50914;
  border-radius: 2.5rem;
}

button.history-previous-page,
.btn.history-previous-page {
  padding: 1rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.history-previous-page span,
.btn.history-previous-page span {
  margin-left: 5px;
  font-size: 1.6rem;
}

button.homepage-search,
.btn.homepage-search {
  width: 100px;
}

button:hover,
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

button:focus,
.btn:focus {
  outline: none;
}

button + button,
button + .btn,
.btn + button,
.btn + .btn {
  margin-left: 2rem;
}

div + button,
div + .btn,
p + button,
p + .btn {
  margin-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  font-size: 1.6rem;
  color: #333;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1024px;
}

main {
  width: 100%;
  padding-top: 56px;
}

main header,
main section {
  width: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
}

main header .container,
main section .container {
  padding: 4rem 0;
}

main div.history-previous-page {
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  background-color: #dedede;
}

main div.search-options-bar {
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  background-color: #dedede;
}

main div.search-options-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.search-options-bar .container ul {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.search-options-bar .container ul li:not(:last-child) {
  margin-right: 2rem;
}

main div.search-options-bar .container ul li {
  padding: 1rem 0;
  cursor: pointer;
}

main span,
main span.group {
  font-size: 1.4rem;
}

main span span + span::before,
main span.group span + span::before {
  content: ",";
  display: inline-block;
  padding-right: 8px;
}

main span.group + span.group::before {
  content: "|";
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 8px;
}

#navbar {
  width: 100%;
  min-height: 56px;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  z-index: 999;
}

#navbar .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
}

#navbar .container .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .desktop-menu > .link-item:not(:last-child) {
  margin-right: 2rem;
}

#navbar .container .desktop-menu .link-item .link {
  color: #ccc;
}

#navbar .container .mobile-menu {
  display: none;
  overflow: hidden;
}

#navbar .container .mobile-menu > div:not(:last-child) {
  margin-bottom: 9px;
}

#navbar .container .mobile-menu div {
  width: 24px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#navbar .container .mobile-menu.open div:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

#navbar .container .mobile-menu.open div:nth-of-type(2) {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

#navbar .container .mobile-menu.open div:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 500px) {
  #navbar .container .desktop-menu {
    display: none;
  }
  #navbar .container .mobile-menu {
    display: block;
  }
}

.search-bar-desktop {
  width: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 998;
}

.search-bar-desktop form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar-desktop form input {
  margin-left: 1rem;
  width: 100%;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.search-bar-desktop form .close-search {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.search-bar-desktop form ::-webkit-input-placeholder {
  color: #ccc;
}

.search-bar-desktop form :-ms-input-placeholder {
  color: #ccc;
}

.search-bar-desktop form ::-ms-input-placeholder {
  color: #ccc;
}

.search-bar-desktop form ::placeholder {
  color: #ccc;
}

@media (max-width: 500px) {
  .search-bar-desktop {
    display: none;
  }
}

.search-bar-homepage {
  width: 90%;
  max-width: 60rem;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 2.5rem;
}

.search-bar-homepage .container {
  padding: 0;
}

.search-bar-homepage .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar-homepage .container form input {
  margin-left: 1rem;
  width: 100%;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.search-bar-homepage .container form .close-search {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.search-bar-homepage .container form ::-webkit-input-placeholder {
  color: #ccc;
}

.search-bar-homepage .container form :-ms-input-placeholder {
  color: #ccc;
}

.search-bar-homepage .container form ::-ms-input-placeholder {
  color: #ccc;
}

.search-bar-homepage .container form ::placeholder {
  color: #ccc;
}

.results-desktop {
  width: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  position: fixed;
  top: 101px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.results-desktop .search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0.8rem;
  color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.results-desktop .search-result .title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-desktop .search-result .title-group .title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
}

.results-desktop .search-result .title-group .title-icon svg {
  width: 16px;
  height: 16px;
}

.results-desktop .search-result:hover {
  background-color: #e4f6ff;
}

@media (max-width: 500px) {
  .results-desktop {
    display: none;
  }
}

.results-homepage {
  display: none;
}

#mobile-menu {
  width: 100%;
  height: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  position: fixed;
  top: 56px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ccc;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 998;
}

#mobile-menu .container {
  width: 100%;
  max-width: 1024px;
  padding: 4rem 0;
}

#mobile-menu .container .search {
  margin-bottom: 2rem;
}

#mobile-menu .container .search p {
  color: #fff;
  cursor: pointer;
}

#mobile-menu .container .search-bar-mobile {
  position: relative;
  margin: 1rem 0 2rem 0;
  width: 100%;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}

#mobile-menu .container .search-bar-mobile .container {
  padding: 0;
}

#mobile-menu .container .search-bar-mobile .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu .container .search-bar-mobile .container form input {
  margin-left: 1rem;
  width: 100%;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

#mobile-menu .container .search-bar-mobile .container form .close-search {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#mobile-menu .container .search-bar-mobile .container form ::-webkit-input-placeholder {
  color: #ccc;
}

#mobile-menu .container .search-bar-mobile .container form :-ms-input-placeholder {
  color: #ccc;
}

#mobile-menu .container .search-bar-mobile .container form ::-ms-input-placeholder {
  color: #ccc;
}

#mobile-menu .container .search-bar-mobile .container form ::placeholder {
  color: #ccc;
}

#mobile-menu .container .results-mobile {
  width: 100%;
  height: 35rem;
  position: absolute;
  top: 100%;
  left: 0;
  overflow-y: scroll;
}

#mobile-menu .container .results-mobile .container {
  padding: 0;
}

#mobile-menu .container .results-mobile .search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.8rem;
  color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-menu .container .results-mobile .search-result .title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

#mobile-menu .container .results-mobile .search-result .title-group .title-icon {
  padding-top: 3px;
}

#mobile-menu .container .results-mobile .search-result .title-group .title-icon svg {
  width: 17px;
  height: 17px;
}

#mobile-menu .container .results-mobile .search-result .title-group .title-name {
  padding: 0 2rem 0 0.5rem;
}

#mobile-menu .container .results-mobile .search-result:hover {
  background-color: #e4f6ff;
}

#mobile-menu .container .results-mobile a.search-result:nth-of-type(even) {
  background-color: #fff;
}

#mobile-menu .container .mobile-menu > li:not(:last-child) {
  margin-bottom: 2rem;
}

#mobile-menu .container .mobile-menu .link-item a {
  margin-bottom: 1rem;
  color: #fff;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul {
  margin-left: 0.5rem;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

#mobile-menu .container .mobile-menu .link-item .mobile-categories ul li {
  color: #ccc;
  cursor: pointer;
}

#mobile-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 500px) {
  #mobile-menu {
    display: none;
  }
}

.desktop-categories {
  width: 100%;
  padding: 1rem 1.6rem;
  background-color: #dedede;
}

.desktop-categories .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-categories .container .search {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 24px;
  cursor: pointer;
}

.desktop-categories .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop-categories .container ul > li:not(:last-child) {
  margin-right: 2rem;
}

.desktop-categories .container ul li a {
  color: #333;
  cursor: pointer;
}

@media (max-width: 500px) {
  .desktop-categories {
    display: none;
  }
}

.data-status {
  width: 100%;
  padding: 1rem 0;
}

.data-status div {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.grid-list {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15.5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  gap: 2rem;
}

#trailer {
  background-color: #fff;
}

#trailer .video-card {
  padding: 2rem 0;
}

#trailer .video-card .video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
}

#trailer .video-card .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid-item img {
  min-width: 155px;
  width: 100%;
  max-width: 38rem;
  min-height: 232px;
  height: auto;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.grid-item .content {
  padding: 0 1.6rem;
}

.grid-item .content .item-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.grid-item .content .number-of-episodes {
  font-size: 1.4rem;
  color: #737373;
}

.grid-item .content .item-date {
  font-size: 1.6rem;
}

.providers {
  color: #fff;
  background-color: #209fe6;
}

.providers .providers-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.providers .providers-options .option {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  padding: 2rem 0;
}

.providers .providers-options .option h3 {
  margin: 0;
  font-size: 2rem;
}

.providers .providers-options .option ul {
  padding: 2rem 0;
}

.providers .providers-options .option ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.providers .providers-options .option ul li img {
  margin-right: 1rem;
  width: 5rem;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
}

#pagination {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pagination p {
  text-align: center;
}

#pagination .buttons {
  padding-top: 2rem;
}

header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-attachment: fixed;
}

header .container .content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30rem 1fr;
      grid-template-columns: 30rem 1fr;
  gap: 4rem;
  z-index: 10;
}

header .container .content .image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
}

header .container .content .image img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15), 0 15px 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

header .container .content .details {
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .container .content .details span,
header .container .content .details span.group {
  color: #ccc;
}

header .container .content .details p {
  color: #ccc;
}

header .container .content .details p + p {
  margin-top: 1rem;
}

@media (max-width: 720px) {
  header .container .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header .container .home-page {
  position: relative;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 10;
}

header .container .home-page h1 {
  text-align: center;
  margin-bottom: 4rem;
}

header.bg-image::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.rating {
  margin-right: 8px;
}

.rating > svg:not(:last-child) {
  margin-right: 3px;
}

.rating svg path {
  stroke: #ffe818;
  fill: #ffe818;
}

#career-stats {
  background-color: #209fe6;
}

#career-stats .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

#career-stats .container .content .stat-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#career-stats .container .content .stat-card h2 {
  margin: 0;
  font-size: clamp(2.4rem, 6vw, 4rem);
}

#career-stats .container .content .stat-card p {
  text-align: center;
}

.seasons {
  padding: 2rem 0;
}

.seasons .season {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30rem 1fr;
      grid-template-columns: 30rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.seasons .season .image {
  width: 100%;
}

.seasons .season .image img {
  width: 100%;
}

@media (max-width: 720px) {
  .seasons .season {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.episodes {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 4rem;
}

.episodes .episode {
  background-color: #fff;
}

.episodes .episode .image {
  width: 100%;
}

.episodes .episode .image img {
  width: 100%;
  height: auto;
}

.episodes .episode .details {
  padding: 2rem;
}

.episodes .episode .details h2 {
  font-size: 1.6rem;
}

.spinner {
  -webkit-animation: spinner 1s linear infinite forwards;
          animation: spinner 1s linear infinite forwards;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#footer {
  width: 100%;
  min-height: 56px;
  padding: 0 clamp(1.6rem, 2.5vw, 4rem);
  color: #ccc;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .copyright {
  font-size: 1.4rem;
}
